/* css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* basic styles start from here*/
body {
  background-image: url(./images/initial-default-load1.svg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
  & > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    & > .search-format-setting {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      & .search-container {
        display: flex;
        align-items: center;
        gap: 12px;
        & > #place-search-bar {
          width: 550px;
          height: 40px;
          border-radius: 12px;
          padding-left: 20px;
          font-size: 25px;
          border: none;
          &:focus {
            border: 3px solid #f88e9d;
            outline: none;
          }
        }
        & > #search-btn {
          font-size: 20px;
          padding: 20px 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          height: 35px;
          border: none;
          border-radius: 12px;
          background-color: #ee6e7f;
          border: 2px solid white;

          &:hover {
            color: white;
            background-color: #d4263e;
            cursor: pointer;
          }
          & > img {
            height: 25px;
          }
        }
      }

      & > .measurement-unit-setting {
        font-size: 20px;
        margin-left: auto;
      }
    }

    & > .info-container {
      background-color: #f17c8c42;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 20px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
      padding: 20px;
    }
  }
}
